@import "../base/variables";
@import "../base/color";
@import "../base/tools";

.sidebar-component {
  float: left;
  display: table-cell;
  width: $sidebarWidth;
  background-color: $c-secondary;
  font-size: 12px;
  line-height: 20px;
  ul {
    padding: 0 5px;
    @extend .container;
    display: block;
    list-style-type: none;
    li {
      height: 20px;
      a {
        color: $c-text;
        text-decoration: none;
        text-align: left;
      }
    }
  } 
}
